.dataset_choice_box {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dataset_choice_box__label {
  margin: 0.5rem 0;
  color: #757575;
}

.form {
  padding-left: 1rem;
}

.category__dates {
  display: flex;
  flex-direction: column;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  transition: all 0.2s ease;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1:hover {
  transform: scale(1.1) translateX(10px);
}

.category > .category__label {
  background-color: rgb(13, 134, 138);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid #000;
  color: white;
  margin-top: 0.4rem;
}

.category__text {
  margin: 0.5rem 0 0 0;
}
